@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@CurrentPage.GetGridHtml("content", "home")


@*<section class="hero mountains">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="title">I'm Ste</h1>
				<h2 class="subtitle">Pleased to meet you.</h2>
				<img class="img-circle hero-avatar" src="/a/dist/img/me3-s.png" alt="Stephen Pammenter coming down Snowdon in Snowdonia, Wales" />
			</div>
		</div>
	</div>
</section>*@
<div class="section-group">
	@*<section>
		<div class="container-fluid split-sections hidden-print">
			<div class="row">
				<div class="col-12 col-md-4 split">
					<div class="col-12 text-center">
						<svg src="/a/dist/img/icons/person.svg" class="icon"></svg>
						<span class="fact">About</span>
						<p class="lead">Skills and Experience</p>
						<p><a href="/home/about"><span class="glyphicon glyphicon-chevron-left"></span> CV and Personal Info Here</a></p>
					</div>
				</div>
				<div class="col-12 col-md-4 split">
					<div class="col-12 text-center">
						<div>
							<svg src="/a/dist/img/icons/pencil.svg" class="icon"></svg>
							<span class="fact">Blog</span>
							<p class="lead hidden-xs hidden-sm">Writing about interesting things</p>
							<p><a href="/blog">Read</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 split col-12 ">
					<div class="col-12 text-center">
						<svg src="/a/dist/img/icons/code.svg" class="icon"></svg>
						<span class="fact">Work</span>
						<p class="lead">CMS Solution and Projects</p>
						<p><a href="/home/work">My Work <span class="glyphicon glyphicon-chevron-right"></span></a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container latest-blog-posts section-text">
			<h2>Latest</h2>
			<div class="media">
				<div class="media-left media-middle hidden-xs">
					<a href="/blog">
						<img class="media-object" src="http://placehold.it/100x50" />
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Test</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="/">Read →</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>*@
	<section>
		<div class="container article-body">
			<div class="row">
				<div class="col-12">
					<h1>Hello</h1>
					<p class="lead section-intro">I'm Stephen Pammenter, full stack .NET Developer. I work full time for <a href="//theleadagency.com">The Lead Agency</a> in Liverpool.</p>
					<h2>Employment</h2>
					<p>
						I am not actively seeking new employment, but I'm always happy to hear what your organization has to offer. No agencies please.
						You can read more about my skills <a href="/home/about">here</a>, and if you think I might be a great fit, consider getting in <a href="/contact">touch</a>.
					</p>
					<br />
					<h2>Bespoke CMS Solution</h2>
					<p>
						If you're interested in starting out your own website, I might be able to help. I've built a modular <abbr title="Content Management">CMS</abbr> that can be customized to suit your needs.
						It already supports Blogs, Events, Notices and Pages - we can talk if you want something else. If you have a design in mind, I'll tailor the aesthetics to your dreams!
					</p>
					<p>Check out previous projects <a href="/home/work">here</a>, this site is built on my CMS too. I don't have a huge amount of time, as this is not my primary job. If I have the availability, I will be more than happy to help - let's have a <a href="/contact">chat</a>.</p>
				</div>
				<div class="col-12">
					<p class="lead text-center section-outro"><a href="/contact">Get in touch <span class="glyphicon glyphicon-chevron-right"></span></a></p>
				</div>
			</div>
		</div>
	</section>
</div>