@inherits UmbracoViewPage<dynamic>

@if (Model != null && Model.sections != null)
{
    foreach (var section in Model.sections)
    {
        foreach (var row in section.rows)
        {
            <div class="row">
                @foreach (var area in row.areas)
                {
                    <div class="col-12 col-md-@area.grid">
                        @foreach (var control in area.controls)
                        {
                            if (control != null && control.editor != null && control.editor.view != null)
                            {
                                <text>@Html.Partial("grid/editors/base", (object)control)</text>
                            }
                        }
                    </div>
                }
            </div>
        }
    }
}