@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<main>
    @Html.Partial("Partials/_Hero")

    @RenderBody()
</main>