@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<BlogArticle>
@{
    Layout = "_Page.cshtml";
}
<section class="hero">
    <div class="container">
        <h1 class="hero__title">Blog</h1>
    </div>
</section>
<div class="sections">
    @Html.Partial("Partials/_Article", Model.Content)
</div>