@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogArticle>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Page.cshtml";
}

<div class="sections">
    @Html.Partial("Partials/_Article", Model)
</div>