@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Article>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<section class="hero hero--glade">
    <div class="container">
        <h1 class="hero__title">Blog</h1>
    </div>
</section>

<div class="sections">
    @Html.Partial("Partials/_Article", Model)
</div>