@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Page.cshtml";
    var articles = Model.Content.Children<BlogArticle>().Where(x => x.IsVisible()).OrderByDescending(x => x.CreateDate).Take(20);
}

<section class="hero hero--glade">
    <div class="container">
        <h1 class="hero__title">Blog</h1>
    </div>
</section>

<div class="sections">
    <section class="section">
        <div class="section__content">
            @if (articles.Any())
            {
                <ul class="list list--unstyled">
                    @foreach (var article in articles)
                {
                        <li>
                            @Html.Partial("Partials/_ArticleSummary", article)
                        </li>
                    }
                </ul>
            }
        </div>
    </section>
</div>
