@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Contact>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Page.cshtml";
}
<section class="section">
    <div class="section__content">
        <h1>Let's talk</h1>
        <p>You can contact me via:</p>
        <ul>
            <li><a href="//linkedin.com/in/spammenter">LinkedIn</a></li>
            <li><a href="//twiter.com/svenpam">Twitter</a></li>
        </ul>
    </div>
</section>