@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Page.cshtml";
}
<section class="section">
    <div class="section__content">
        @Umbraco.RenderMacro("LatestArticles")
    </div>
</section>
<section class="section">
    <div class="section__content">
        <h1>Hello</h1>
        <p class="section__intro">I'm Stephen Pammenter, a full-stack Development Lead. I work full time for <a href="//frontierlabs.co.uk>Frontier Labs</a> in Liverpool.</p>
        <p>I work full-stack with C#, MVC, .NET Core & RESTful APIs built on an event-driven microservice architecture. Client-side, I work with ES5/6, Typescript & Vue.js and use SASS & BEM for styling. I also dabble with deployment through Azure pipelines to a containerised production environment in Azure.</p>
        <p>Ocassionally, I try to <a href="/blog">blog</a> — which I really need to keep up to date as I work with some mad tech!</p>
        <br />
        <h2>Employment</h2>
        <p>
            I am not actively seeking new employment.
        </p>
        <br />
        <p>Check out previous projects <a href="/home/work">here</a>.</p>
        <p class="section__outro"><a href="/contact">Get in touch</a></p>
    </div>
</section>
