@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Page.cshtml";
}
<section class="section">
    <div class="section__content">
        @Umbraco.RenderMacro("LatestArticles")
    </div>
</section>
<section class="section">
    <div class="section__content">
        <h1>Hello</h1>
        <p class="section__intro">I'm Stephen Pammenter, a Lead Developer. I work full time for <a href="//theleadagency.com">The Lead Agency</a> in Liverpool.</p>
        <p>I work full-stack with C#, MVC, Umbraco, .NET Core & RESTful APIs. Client-side, I work with ES5/6, Typescript & Vue.js and use SASS & BEM for styling.</p>
        <br />
        <h2>Employment</h2>
        <p>
            I am not actively seeking new employment, but I'm always happy to hear what your organization has to offer. No agencies please.
            You can read more about my skills <a href="/home/about">here</a>, and if you think I might be a great fit, consider getting in <a href="/contact">touch</a>.
        </p>
        <br />
        <p>Check out previous projects <a href="/home/work">here</a>.</p>
        <p class="section__outro"><a href="/contact">Get in touch</a></p>
    </div>
</section>