@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Page.cshtml";
}

<section class="hero">
    <div class="container">
        <h2 class="hero__title">I'm Ste</h2>
        <h3 class="hero__subtitle">Pleased to meet you.</h3>
        <img class="hero__avatar" src="@Url.Content("~/a/dist/img/me3-s.png")" alt="Stephen Pammenter coming down Snowdon in Snowdonia, Wales" />
    </div>
</section>
<div class="sections">
    <section class="section">
        <div class="section__facts">
            <div class="section__fact">
                <i class="section__badge">
                    <svg class="icon icon--badge">
                        <use xlink:href="a/dist/sprites/sprite.svg#person"></use>
                    </svg>
                </i>
                <span class="section__title">About</span>
                <p class="section__subtitle">Skills and Experience</p>
                <p><a href="/about">CV and Personal Info Here</a></p>
            </div>
            <div class="section__fact">
                <i class="section__badge">
                    <svg class="icon icon--badge">
                        <use xlink:href="a/dist/sprites/sprite.svg#pencil"></use>
                    </svg>
                </i>
                <span class="section__title">Blog</span>
                <p class="section__subtitle hidden-xs hidden-sm-down">Writing about interesting things</p>
                <p><a href="/blog">Read</a></p>
            </div>
            <div class="section__fact">
                <i class="section__badge">
                    <svg class="icon icon--badge">
                        <use xlink:href="a/dist/sprites/sprite.svg#code"></use>
                    </svg>
                </i>
                <span class="section__title">Work</span>
                <p class="section__subtitle">CMS Solution and Projects</p>
                <p><a href="/work">My Work</a></p>
            </div>
        </div>
        <div class="section__content">
            @Umbraco.RenderMacro("LatestArticles")
        </div>
    </section>
    <section class="section">
        <div class="section__content">
            <h1>Hello</h1>
            <p class="section__intro">I'm Stephen Pammenter, a Lead Developer. I work full time for <a href="//theleadagency.com">The Lead Agency</a> in Liverpool.</p>
            <p>I work full-stack with C#, MVC, Umbraco, .NET Core & RESTful APIs. Client-side, I work with ES5/6, Typescript & Vue.js and use SASS & BEM for styling.</p>
            <br />
            <h2>Employment</h2>
            <p>
                I am not actively seeking new employment, but I'm always happy to hear what your organization has to offer. No agencies please.
                You can read more about my skills <a href="/home/about">here</a>, and if you think I might be a great fit, consider getting in <a href="/contact">touch</a>.
            </p>
            <br />
            <p>Check out previous projects <a href="/home/work">here</a>.</p>
            <p class="section__outro"><a href="/contact">Get in touch</a></p>
        </div>
    </section>
</div>