@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Page.cshtml";
    var years = DateTime.UtcNow.Year - 2012;
}
<section class="section section--dark">
    <div class="section__content">
        <h1>Hello</h1>
        <p class="section__intro">I'm Ste Pammenter, a full-stack Development Lead. I work full time for <a
                href="//staffcircle.com">StaffCircle</a> remotely. I am based in Liverpool, UK.</p>
        <p>I'm dynamic lead with a proven track record of driving results through @years+ years of experience in
            development & optimizing cross-functional engineering teams to deliver clean, testable code and drive value
            for scalable SaaS products.</p>
        <p>Specialized in full-stack development with a focus on .NET and expertise in Vue.js. Azure certified.</p>
        <br />
        <h2>Employment</h2>
        <p>
            If you require an expert in building technical teams and SaaS products, I am open to the right
            opportunities. Take a look at my <a href="/my-cv">CV</a> and see if we're a good fit.
        </p>
        <p class="section__outro"><a href="/contact">Get in touch</a></p>
    </div>
</section>
