@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Blog>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


@{
    var articles = Model.Children;
}
<ul>
	@foreach(var item in articles){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

