@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8" />
	<link rel="SHORTCUT ICON" href="" />
	<link rel="icon" href="" />
	<meta name="theme-color" content="#29B8B9">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:locale" content="en_GB">
	<link href="~/a/dist/css/this-is-stoke.min.css" rel="stylesheet" />
</head>
<body>
	<main>
		@Html.Partial("Partials/_Hero")
		@RenderBody()
	</main>
</body>
</html>