@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Page.cshtml";
}

@{
    var rootContent = Model.Content.Siblings();

}
<div></div>
<section class="section">
    <div class="section__content">
        <ul>
            @foreach (var item in rootContent)
            {
                <li>
                    <a href="@item.Url">@item.Name</a>

                    @if (item.Children.Any())
                    {
                        <ul>
                            @foreach (var child in item.Children)
                            {
                                <li><a  href="@item.Url">@child.Name</a></li>
                            }
                        </ul>
                    }

                </li>
            }
        </ul>
    </div>
</section>