@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Page.cshtml";
}

<section class="section">
    <div id="work" class="section__content">
        <div class="row">
            <p class="col-12">To snapshot the time I last worked on a project, I've used the <a href="https://archive.org/web/">Internet Archieve</a>. These pages may be slow to load, or be missing images...</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <h3><a href="//styles.carkey.co.uk">Car Keys Styles</a></h3>
                <p>Design to Development can be a tricky process. To improve this close working relationship, we adopted atomic design and <a href="//patternlab.io/">PatternLab</a> to create the Car Keys front-end.</p>
            </div>
            <div class="example col-md-8 hidden-xs hidden-sm-down">
                <div class="example__mockup">
                    <div class="example__iframe-container">
                        <iframe src="//styles.carkeys.co.uk/patterns/01-atoms/index.html"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="example col-md-8 hidden-xs hidden-sm-down">
                <div class="example__mockup">
                    <div class="example__iframe-container">
                        <iframe src="//web.archive.org/web/20181015143457/https://www.carkeys.co.uk/"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <h3><a href="//www.swanswaygarages.com">Car Keys</a></h3>
                <p>Orignally started out maintaining an Orchard CMS verison of the site, I was integral to the decision to switch Car Keys over to Umbraco when we had the chance to rewrite the system.</p>
                <p>I was Lead <abbr title="Front End Developer">FED</abbr>, and introduced the team to using a <a href="//styles.carkeys.co.uk">style guide</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <h3><a href="//www.swanswaygarages.com">Swansway Group</a></h3>
                <p>Working on a team with three great guys to maintain twenty dealership sites.</p>
                <p>All of our sites run from single .NET MVC server application, we manage front-end responsive design through LESS on a brand-by-brand basis.</p>
            </div>
            <div class="example col-md-8 hidden-xs hidden-sm-down">
                <div class="example__mockup">
                    <div class="example__iframe-container">
                        <iframe src="//web.archive.org/web/20140817220524/https://swanswaygarages.com"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 example">
                <img class="example__image" src="~/old/sg-mob.png?width=607" />
            </div>
            <div class="col-md-4 col-12">
                <h3><a href="//ste-pam.com/blog/article/dynamic-serving-and-performance">Swansway Group Mobile</a></h3>
                <p>My crowning achivement so far, whilst working for Swansway has to be our mobile sites. Through dynamic serving, we deliver content optimized for mobile - this includes specific views and styles.</p>
                <p>This work has put Swansway at the fore-front of the automotive industry in regards to web sites. I wrote all about the work I did <a href="http://ste-pam.com/blog/article/dynamic-serving-and-performance">here</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <h3><a href="//t2t.bike">Tower to Tower 2015</a></h3>
                <p>To help my friends and myself raise awareness, I put my skills to work and built us our own site.</p>
            </div>
            <div class="example col-md-8 hidden-xs hidden-sm-down">
                <div class="example__mockup">
                    <div class="example__iframe-container">
                        <iframe src="//web.archive.org/web/20161202104741/http://t2t.bike"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="example col-md-8 hidden-xs hidden-sm-down">
                <div class="example__mockup">
                    <div class="example__iframe-container">
                        <iframe src="//web.archive.org/web/20170627111100/http://stpaulswarton.co.uk/"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <h3><a href="//www.stpaulswarton.co.uk">St. Pauls Church Warton</a></h3>
                <p>To help out a family friend, I built her local church their own site. The front-end hooks up to the exisiting CMS I built for all my sites.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <h3>Miru</h3>
                <p>In my final year at University, I built an Android augmented reality app for the process industry. You can find out more about it <a href="/miru">here</a>.</p>
            </div>
            <div class="example col-md-8 col-12">
                <img src="~/old/miruscreen5.png?width=600" />
            </div>
        </div>
        <div class="row">
            <p class="section__outro">Want to know more about me? <a href="/about">Check me out <span class="glyphicon glyphicon-chevron-right"></span></a></p>
        </div>
    </div>
</section>