@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Page.cshtml";
}

<div class="bg-static code"></div>
<section class="hero hero--code">
    <div class="container">
        <h1 class="hero__title">Work</h1>
        <h2 class="hero__subtitle">I've built a fancy pants CMS you might like.</h2>
        <p class="text-center">Or check out other cool projects I've done.</p>
    </div>
</section>
<div class="sections">
    <section class="section">
        <div class="row">
            <div class="col-12 col-md-4 section__fact">
                <span class="glyphicon glyphicon-phone icon"></span>
                <span class="section__title">XS</span>
                <p class="section__subtitle">Responsive & Mobile</p>
                <ul class="text-muted list-unstyled">
                    <li>Sites Optimized for Mobile</li>
                    <li>Lightweight</li>
                    <li>Thumb Friendly <span class="glyphicon glyphicon-thumbs-up"></span></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 section__fact">
                <span class="glyphicon glyphicon-flash icon"></span>
                <span class="section__title">Fast</span>
                <p class="section__subtitle">Your Site Set Up in No Time<sup>†</sup></p>
                <p class="text-muted small"><sup>†</sup>Depending on my availability.</p>
                <ul class="text-muted list-unstyled hidden-xs hidden-sm-down">
                    <li>
                        <a href="#cms">
                            More
                            <br />
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 section__fact">
                <span class="glyphicon glyphicon-tasks icon"></span>
                <span class="section__title">CMS</span>
                <p class="section__subtitle">Content Management System</p>
                <ul class="text-muted list-unstyled">
                    <li>Built to Spec</li>
                    <li>Supports Blogs, Events, Notices, Pages</li>
                    <li>And more!</li>
                </ul>
            </div>
        </div>
        <div id="cms" class="section__content">
            <div class="col-12">
                <h1>A Bespoke CMS</h1>
                <p class="section__intro">Need a website?</p>
                <h2>Setup</h2>
                <p>I can help you with domain names and hosting. Let me know what you want from your potential site and I'll tailor a CMS to fit.</p>
                <h2>Manage</h2>
                <p>Control your own users, roles  and enquiries from one place. Want email notifications sent to specfic groups? Sure. You can do it here.</p>
                <h2>Create</h2>
                <p>Be it a blog article, event, notice, page or more - you can do it through my CMS. Furthermore, you don't have to know a line of code.</p>
                <h2>Showcase</h2>
                <p>Tell me want you want in terms of design and I'll build it. The content you create will <em>automagically</em> appear on your site, looking like it was branded by your hand.</p>
                <p class="section__outro"><a href="/contact">Let's Talk @*<span class="glyphicon glyphicon-chevron-right"></span>*@</a></p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col-12 col-md-4 section__fact">
                <span class="glyphicon glyphicon-user icon"></span>
                <span class="section__title">Me</span>
                <p class="section__subtitle">Skills and Experience</p>
                <a href="/home/about" class="text-center"><span class="glyphicon glyphicon-chevron-left"></span> More About me</a>
                <div class="clearfix"></div>
            </div>
            <div class="col-12 col-md-4 section__fact hidden-xs hidden-sm-down">
                <span class="glyphicon glyphicon-console icon"></span>
                <span class="section__title">Work</span>
                <p class="section__subtitle">Projects</p>
                <a href="#work" class="hidden-xs">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </div>
            <div class="col-12 col-md-4 section__fact">
                <span class="glyphicon glyphicon-send icon"></span>
                <span class="section__title">Contact</span>
                <p class="section__subtitle">Interested in my Work?</p>
                <a href="/contact" class="text-center">Get in touch <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div id="work" class="section__content">
            <div class="row">
                <p class="col-12 text-center hidden-sm-down">I've worked on a few projects.</p>
                <h1 class="col-12 visible-sm hidden-sm-up">My Work</h1>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <h3><a href="//www.swanswaygarages.com">Swansway Group</a></h3>
                    <p>I work full time for Swansway Group, working on a team with three great guys to maintain twenty dealership sites.</p>
                    <p>All of our sites run from single .NET MVC server application, we manage front-end responsive design through LESS on a brand-by-brand basis.</p>
                    <p>
                        Some notable examples of my work include
                        <ul>
                            <li>Home Page</li>
                            <li>News & Blog</li>
                            <li>Products</li>
                            <li>Contact Pages</li>
                        </ul>
                    </p>
                </div>
                <div class="example col-md-8 hidden-xs hidden-sm-down">
                    <div class="browser-mockup">
                        <div class="iframe-container">
                            <iframe id="test" src="//swanswaygarages.com"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="background-color: #16698B; padding-top: 10px; padding-bottom: 10px;">
                    <img class="example-image" style="display: block;margin: 0 auto;" src="~/Areas/ste_pam/Content/Image/sg-mob.png?w=607" />
                </div>
                <div class="col-12">
                    <h3><a href="//ste-pam.com/blog/article/dynamic-serving-and-performance">Swansway Group Mobile</a></h3>
                    <p>My crowning achivement so far, whilst working for Swansway has to be our mobile sites. Through dynamic serving, we deliver content optimized for mobile - this includes specific views and styles.</p>
                    <p>This work has put Swansway at the fore-front of the automotive industry in regards to web sites. I wrote all about the work I did <a href="http://ste-pam.com/blog/article/dynamic-serving-and-performance">here</a>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <h3><a href="//t2t.bike">Tower to Tower 2015</a></h3>
                    <p>To help my friends and myself raise awareness, I put my skills to work and built us our own site.</p>
                </div>
                <div class="example col-md-8 hidden-xs hidden-sm-down">
                    <div class="browser-mockup">
                        <div class="iframe-container">
                            <iframe src="http://t2t.bike"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="example col-md-8 hidden-xs hidden-sm-down">
                    <div class="browser-mockup">
                        <div class="iframe-container">
                            <iframe src="//www.stpaulswarton.co.uk"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <h3><a href="//www.stpaulswarton.co.uk">St. Pauls Church Warton</a></h3>
                    <p>To help out a family friend, I built her local church their own site. The front-end hooks up to the exisiting CMS I built for all my sites.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                    <h3>Miru</h3>
                    <p>In my final year at University, I built an Android augmented reality app for the process industry. You can find out more about it <a href="/miru">here</a>.</p>
                </div>
                <div class="example col-md-8 col-12">
                    <img src="~/Areas/ste_pam/Content/Image/miru.jpg?w=300px;" />
                </div>
            </div>
            <div class="row">
                <p class="section__outro">Want to know more about me? <a href="/about">Check me out <span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
        </div>
    </section>
</div>