/// <reference path="../../../../../node_modules/bootstrap/scss/variables.scss" />

// Project

$image-url: '/a/dist/img';

// Bootstrap

$btn-border-radius: 3rem;
$btn-padding-x: 2rem;

@import '../../../../../node_modules/bootstrap/scss/variables';

