$brand-primary:         #29B8B9;
$primary:               $brand-primary;
$brand-secondary:       #F90;
$secondary:             $brand-secondary;
$brand-success:         #5CB85C;
$brand-info:            #5BC0DE;
$brand-warning:         #F0AD4E;
$brand-danger:          #F44;
$dark-bg:				#0C0C0E;
$body-bg:               #EEE;
$text-color:            #444;
$link-color:            $brand-primary;
$link-hover-color:      lighten($link-color, 15%);
$brand-subtle:			#95A5A6;

$image-url: '/a/dist/img';

@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';