/// <reference path="../01-settings/settings" />
/// <reference path="../02-tools/tools" />

.hero {
    @include media-breakpoint-up(md) {
        min-height: 370px;
        padding: 30px;
    }

    min-height: 370px;
    padding: 2rem;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    text-align: center;

    &__title {
        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
            font-size: 4.5rem;
        }
    }

    &__subtitle {
        margin-bottom: 30px;
        font-size: 1.5rem;
    }

    &__avatar {
        @include img-fluid;
        border-radius: 100%;
        margin: 0 auto;
        display: block;
        background-color: $black;
        box-shadow: $black -1px 7px 30px;
    }

    &--code {
        color: $white;
    }
}
