/// <reference path="../01-settings/settings" />
/// <reference path="../02-tools/tools" />

.section {
    @include make-container;
    padding-top: $grid-gutter-width-base;
    padding-bottom: $grid-gutter-width-base;

    &__title {
        font-size: 9rem;
        font-family: $headings-font-family;

        @include media-breakpoint-down(md) {
            font-size: 6rem;
        }

        @include media-breakpoint-down(sm) {
            font-size: 2rem;
        }
    }

    &__content {
        @include make-container;
        @include make-container-max-widths;
        padding-top: 50px;
    }

    &__intro {
        padding-bottom: 30px;
    }

    &__outro {
        padding: 150px 0;
    }

    &__badge {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        background-color: $white;
        color: $brand-subtle;
        font-size: 100px;
        width: 170px;
        height: 170px;
        fill: $brand-subtle;
        padding: 25px;

        @include media-breakpoint-down(md) {
            font-size: 40px;
            width: 100px;
            padding: 25px;
        }

        @include media-breakpoint-between(sm, md) {
            font-size: 70px;
            width: 115px;
            padding: 25px;
        }
        //Centres the glyphicon cos its really wide for some reason.
        &.glyphicon-send {
            padding-left: 0;
        }
    }

    &:nth-child(even) {
        background-color: $gray-dark;
        color: $white;
        padding-bottom: 20px;

        .section__fact {
            padding: 60px;

            @include media-breakpoint-down(sm) {
                padding: 60px 0;
            }

            &:nth-child(odd) {
                background-color: $gray-light;
            }
        }
    }

    &:nth-child(odd) {
        background-color: $gray-lighter;

        .section__fact {
            padding: 60px;

            @include media-breakpoint-down(sm) {
                padding: 60px 0;
            }

            &:nth-child(odd) {
                background-color: $gray-lightest;
            }
        }
    }

    &--footer {
        background-color: $dark-bg !important;
        color: $white !important;
    }
}
