/// <reference path="../01-settings/settings" />
/// <reference path="../02-tools/tools" />
.timeline {
	list-style: none;
	margin: 0;
	padding-left: 20px;

	.epoch {
		display: inline-block;
		margin: 0;
		padding: 0 0 0 20px;
		border-left: $gray-dark solid 2px;
		position: relative;

		&::before {
			font-size: 1rem;
			line-height: 25px;
			padding: 0 2px;
			position: absolute;
			left: -25px;
			top: 20px;
			height: 25px;
			z-index: 10;
			background-color: $gray-light;
			content: attr(data-year);
		}

		h2,
		h3,
		h4,
		h5 {
			text-align: right;
		}
	}
}
