@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<nav id="siteNav" class="site-nav">
	<span class="nav-title">Site Nav</span>
	<a href="javascript:void(0)" id="closeMobMenu" class="close-site-nav"><span class="glyphicon glyphicon-remove"></span></a>
	<ul>
		<li>
			<a href="javascript:void(0)" data-name="Back" onclick="history.back();">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
		</li>
		<li>
			<a href="/" data-name="Home">
				<span class="home-link">SP</span>
			</a>
		</li>
		<li>
			<a href="/" data-name="About">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</li>
		<li>
			<a href="/blog" data-name="Blog">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
		</li>
		<li>
			<a href="/Home" data-name="Work">
				<span class="glyphicon glyphicon-console"></span>
			</a>
		</li>
		<li>
			<a href="/Contact" data-name="Contact">
				<span class="glyphicon glyphicon-send"></span>
			</a>
		</li>
	</ul>
</nav>