@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="hidden-print">
    <span class="glyphicon glyphicon-link"></span>	<a href="http://ste-pam.com/cv">ste-pam.com/cv</a>
    <div class="pull-right">
        <span class="glyphicon glyphicon-print"></span>	<a href="javascript:void(0)" onclick="window.print()">Print</a>
        @*<span class="glyphicon glyphicon-list-alt"></span>	<a href="http://ste-pam.com/areas/ste_pam/res/Stephen-Pammenter-CV.pdf">PDF</a>*@
    </div>
</div>
<div id="cv" class="cv">
    <div class="row">
        <div class="col-12 col-sm-6">
            <h1>Stephen Pammenter</h1>
            <h2 class="h5 text-muted">.NET Developer</h2>
        </div>
        <div class="col-12 col-sm-6">
            <ul class="list-unstyled text-right">
                @*<li><span class="text-muted">[Available on request]</span> <span title="Telephone" class="glyphicon glyphicon-phone"></span> </li>*@
                <li><a href="mailto:me@ste-pam.com">me@ste-pam.com</a> <span title="Email" class="glyphicon glyphicon-envelope"></span></li>
                <li><a href="http://ste-pam.com">ste-pam.com</a> <span title="Website" class="glyphicon glyphicon-globe"></span></li>
                <li><a href="https://www.linkedin.com/in/spammenter">linkedin.com/in/spammenter</a><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Stephen Pammenter's LinkedIn profile" style="vertical-align:middle;margin-bottom: 5px;margin-right: -5px;margin-left: 6px;"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="row">
                <h2 class="col-12 h4">About</h2>
                <div class="col-12">
                    <dl>
                        <dt>Bio</dt>
                        <dd>
                            <p>I am a professional <strong>full stack .NET developer</strong> working mainly with web based technologies. My skillset is broad and encompasses data, server and front-end stacks; I also understand agile project methodologies. My strongest skill is optimising sites for mobile through design and slim-lining resources.</p>
                        </dd>
                        <dt>D.O.B</dt>
                        <dd>16<sup>th</sup> October 1991</dd>
                        <dt>Location</dt>
                        <dd>Liverpool</dd>
                    </dl>
                </div>
                <h2 class="col-12 h4">Experience</h2>
                <ul class="col-12 timeline">
                    <li class="epoch" data-year="2016 - Current">
                        <h3 class="h5">Web Developer <small>Commercial</small></h3>
                        <h4 class="h6">The Lead Agency</h4>
                        <p>Working on the team who build and maintain <a href="//carkeys.co.uk">CarKeys.co.uk</a>.</p>
                    </li>
                    <li class="epoch" data-year="2014 - 2016">
                        <h3 class="h5">.NET Developer <small>Commercial</small></h3>
                        <h4 class="h6">Swansway Group</h4>
                        <p>Working with a small team to implement features and maintain a websites and in-house software for our 20+ dealersips.</p>
                        <p>Specific projects I have worked on:</p>
                        <ul>
                            <li><a href="/blog/article/dynamic-serving-and-performance">Mobile Sites</a></li>
                            <li><a href="http://www.swanswaygarages.com/motability/search">Motability</a></li>
                            <li><a href="http://www.swanswaygarages.com/products/accessories">Products</a></li>
                            <li><a href="http://www.swanswaygarages.com/news">News & Blog</a></li>
                            <li><a href="http://www.creweaudi.co.uk/contact">Contact Pages</a></li>
                            <li>Data Aggregation and Reports</li>
                            <li>Custom OOCSS style framework</li>
                        </ul>
                    </li>
                    <li class="epoch" data-year="2014 - 2016">
                        <h3 class="h5">Websites <small>Personal</small></h3>
                        <p>I have built a custom CMS which runs multiple sites. These sites include:</p>
                        <ul>
                            <li><a href="http://ste-pam.com">ste-pam.com</a></li>
                            <li><a href="http://stpaulswarton.co.uk">stpaulswarton.co.uk</a></li>
                            <li><a href="http://t2t.bike">t2t.bike</a></li>
                        </ul>
                    </li>
                    <li class="epoch" data-year="2013 - 2014">
                        <h3 class="h5">Undergraduate <small>Academic/Commercial</small></h3>
                        <h4 class="h6">Teeside University - Sabisu</h4>
                        <p>Built a researched and documented augmented reality Android app for the process industry. For information see <a href="http://ste-pam.com/miru">ste-pam.com/miru</a>.</p>
                    </li>
                    <li class="epoch" data-year="2012 - 2013">
                        <h3 class="h5">Applications Developer <small>Commercial</small></h3>
                        <h4 class="h6">SABIC UK Petrochemicals - Sabisu</h4>
                        <p>A 16 month placement where I built web form applications and automated services to aggregate and report data. I worked on various large managed projects, including:</p>
                        <ul>
                            <li>Site Improvement Tracker</li>
                            <li>EU Emission Trading Scheme Project</li>
                            <li>KPI Reports</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="row">
                <h2 class="col-12 h4">Skills</h2>
                <div class="col-12">
                    <dl>
                        <dt>Skill Strength</dt>
                        <dd>
                            <div class="hidden-print">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width: 90%">
                                        CSS/LESS/SASS
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width: 80%">
                                        Javascript
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width: 100%">
                                        HTML
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width: 80%">
                                        C#
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width: 70%">
                                        SQL
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width: 80%">
                                        UX
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" style="width: 60%">
                                        Design
                                    </div>
                                </div>
                            </div>
                            <img class="visible-print" src="~/Areas/ste_pam/res/print-skills.png" />
                        </dd>
                    </dl>
                    <dl>
                        <dt>Other Technologies</dt>
                        <dd>
                            ASP.NET MVC5, Razor, EF6, LINQ, MVC Web API, jQuery, LESS, Bootstrap, SVN, TFS, Unit Testing, Integration Testing
                            <br />
                            <br />
                        </dd>
                        <dt>Project Methodologies</dt>
                        <dd>Waterfall, <abbr title="Dynamic Systems Development Method">DSDM</abbr>, SCRUM</dd>
                    </dl>
                </div>
                <h2 class="col-12 h4">Education</h2>
                <div class="col-12">
                    <h3 class="h5">BSc</h3>
                    <h4 class="h6">Teesside University</h4>
                    <p>Computer Science <span class="text-muted"> with first class honours.</span></p>
                    <h3 class="h5">A Level</h3>
                    <h4 class="h6">Blackpool Sixth Form</h4>
                    <p>Computing, Physics, Geography and Critical Thinking</p>
                    <h3 class="h5">AS Level</h3>
                    <h4 class="h6">Blackpool Sixth Form</h4>
                    <p>Maths</p>
                    <h3 class="h5">GCSE</h3>
                    <h4 class="h6">St. Aidans Technology College</h4>
                    <p>11 Various</p>
                </div>
                <h2 class="col-12 h4">Additional Information</h2>
                <div class="col-12">
                    <dl>
                        <dt>
                            Awards
                        </dt>
                        <dd>
                            <ul>
                                <li>St. John Emergency First Aid at Work</li>
                                <li>RYA Dinghy Instructor</li>
                                <li>Silver Duke of Edinburgh's Award</li>
                            </ul>
                        </dd>
                        <dt>
                            Achievements
                        </dt>
                        <dd>
                            <ul>
                                <li>Walked 109 miles of the Cleveland Way to raise £310 for MND.</li>
                                <li>Cycled 170 miles of the Coast to Coast to raise £612 for MND.</li>
                                <li>Cycled over 600 miles to Paris to raise £3643 for Cancer Research and Parkinson's UK.</li>
                            </ul>
                        </dd>
                        <dt>
                            Organizations
                        </dt>
                        <dd>
                            Marine Society and Sea Cadet Corps (2001 - 2013)
                        </dd>
                    </dl>
                </div>
                <h2 class="col-12 h4">References</h2>
                <p class="col-12">Available on request.</p>
            </div>
        </div>
    </div>
</div>