@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var nav = CurrentPage.Site().Children.Where("Visible"); }

<header id="main-header" class="header">
    <section class="header__container">
        <div class="header__row">
            <a href="/">
                <picture class="header__logo">
                    <source media="(max-width: 992px)" srcset="//dummyimage.com/91x19?text=LOGO">
                    <source srcset="//dummyimage.com/217x44?text=LOGO">
                    <img src="//dummyimage.com/217x44?text=LOGO?text=Image+Fallback" alt="Image Fallback">
                </picture>
            </a>
            <a class="header__toggle-icon" data-toggle="header" href="#main-header" role="button">
                <div class="header__menu-icon-text"><span class="sr-only">Toggle Main Menu</span></div>
                <i class="header__menu-icon"></i>
            </a>
        </div>
        <div class="header__row">
            <nav class="navigation navigation--primary header__navigation">
                <ul class="navigation__list">
                    @foreach (var item in nav)
                    {
                        <li class="navigation__point @(item.IsAncestorOrSelf(CurrentPage) ? "navigation__point--active" : null)">
                            <a class="navigation__link "href="@item.Url">@item.Name</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </section>
</header>