<connectionStrings>
	<remove name="umbracoDbDSN" />
	<add name="umbracoDbDSN" connectionString="server=localhost;database=Tranquility;user id=pantsMaster;password='ûÞ$ÁAÀ~ÕÒÖiêèªÕ9òVêV`OÎñBÙ*ÓÆß*wîi~ü¢ÄGæxÜýÒòÎÝE§Á$/©á·Á|Ê7¶|~c¾'" providerName="System.Data.SqlClient" />
	<!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
</connectionStrings>