<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <remove name="umbracoDbDSN" />
    <add name="umbracoDbDSN" connectionString="#{connectionString}#" providerName="System.Data.SqlClient" />
    <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
  </connectionStrings>
  <appSettings>
    <add key="AzureBlobFileSystem.ConnectionString:media"  xdt:Transform="Insert" value="DefaultEndpointsProtocol=https;AccountName=#{blobStorageAccountName}#;AccountKey=#{blobStorageKey}#" />
    <add key="AzureBlobFileSystem.RootUrl:media"  xdt:Transform="Insert" value="http://#{blobStorageAccountName}#.blob.core.windows.net/" />
    <add key="Twitter.ConsumerKey" />
    <add key="Twitter.ConsumerSecret"/>
    <add key="Twitter.UserToken" />
    <add key="Twitter.UserSecret"/>
    <add key="HTML2CSS.UserId"/>
    <add key="HTML2CSS.Key"/>
  </appSettings>
</configuration>